@model IEnumerable<CRM.Models.VCotizacionesValorPresentePorMe>

@{
    ViewData["Title"] = "Index";
}

<h1>Cotizaciones valor presente por mes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoCotizaciones)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoCotizaciones)
            </td>
        </tr>
}
    </tbody>
</table>
