@model IEnumerable<CRM.Models.VTop10ClientesMayorVenta>

@{
    ViewData["Title"] = "Index";
}

<h1>Top 10 clientes mayor ventas</h1>

<div class="container">
    <form class="form" method="POST">
        <div>
            <label>Fecha inicio</label>
            <input type="date" id="inicio" name="inicio" />
        </div>
        <div>
            <label>Fecha fin</label>
            <input type="date" id="fin" name="fin" />
        </div>
        <button class="btn btn-success" id="form-btn" asp-controller="VTop10ClientesMayorVenta" asp-action="Filtrar">Filtrar</button>
        <button class="btn btn-secondary" id="form-btn" asp-controller="VTop10ClientesMayorVenta" asp-action="Index">Quitar filtro</button>
    </form>
</div>

<table class="table th-inner sortable both"
       id="table"
       data-toggle="table"
       data-search="false"
       data-show-columns="false"
       data-show-multi-sort="true"
       data-sort-priority='[{"sortName": "Monto","sortOrder":"desc"},{"sortName":"Nombre","sortOrder":"desc"}]'>
    <thead>
        <tr>
            <th data-field="Monto" data-sortable="true">Monto</th>
            <th data-field="Nombre" data-sortable="true">Nombre</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
        </tr>
}
    </tbody>
</table>
