@model IEnumerable<CRM.Models.VTotalEjecucionesConCierre>

@{
    ViewData["Title"] = "Index";
}

<h1>Total de ejecuciones con cierre</h1>

<div class="container">
    <form class="form" method="post">
        <div>
            <label>Mes</label>
            <select name="mes" id="mes">
                <option value="nada">Selecciona un mes </option>
                <option value="Enero">Enero</option>
                <option value="Febrero">Febrero</option>
                <option value="Marzo">Marzo</option>
                <option value="Abril">Abril</option>
                <option value="Mayo">Mayo</option>
                <option value="Junio">Junio</option>
                <option value="Julio">Julio</option>
                <option value="Agosto">Agosto</option>
                <option value="Septiembre">Septiembre</option>
                <option value="Octubre">Octubre</option>
                <option value="Noviembre">Noviembre</option>
                <option value="Diciembre">Diciembre</option>
            </select>
        </div>
        <button class="btn btn-success" id="form-btn" asp-controller="VTotalEjecucionesConCierre" asp-action="Filtrar">Filtrar</button>
        <button class="btn btn-secondary" id="form-btn" asp-controller="VTotalEjecucionesConCierre" asp-action="Index">Quitar filtro</button>
        <a class="btn btn-secondary" id="form-btn" asp-controller="VTotalEjecucionesConCierrePorAnno" asp-action="Index">Ver por año</a>
    </form>
</div>


<table class="table th-inner sortable both"
       id="table"
       data-toggle="table"
       data-search="false"
       data-show-columns="false"
       data-show-multi-sort="true"
       data-pagination="true">
    <thead>
        <tr>
            <th data-field="mes" data-sortable="true">
                @Html.DisplayNameFor(model => model.mes)
            </th>
            <th data-field="cantidad" data-sortable="true">
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.mes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
        </tr>
}
    </tbody>
</table>
