@model IEnumerable<CRM.Models.VVentasPorSector>

@{
    ViewData["Title"] = "Index";
}

<h1>Ventas por sector</h1>

<div class="container">
    <form class="form" method="POST">
        <div>
            <label>Fecha inicio</label>
            <input type="date" id="inicio" name="inicio" />
        </div>
        <div>
            <label>Fecha fin</label>
            <input type="date" id="fin" name="fin" />
        </div>
        <button class="btn btn-success" id="form-btn" asp-controller="VVentasPorSector" asp-action="Filtrar">Filtrar</button>
        <button class="btn btn-secondary" id="form-btn" asp-controller="VVentasPorSector" asp-action="Index">Quitar filtro</button>
    </form>
</div>

<div id="chart_div">
    
</div>

<table class="table th-inner sortable both"
       id="table"
       data-toggle="table"
       data-search="false"
       data-show-columns="false"
       data-show-multi-sort="true"
       data-sort-priority='[{"sortName": "Descripcion","sortOrder":"desc"},{"sortName":"Monto","sortOrder":"desc"}]'>
    <thead>
        <tr>
            <th data-field="Descripcion" data-sortable="true">Descripcion</th>
            <th data-field="Monto" data-sortable="true">Monto</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <script>
              elements.push(["@item.Descripcion", @item.Monto]);
        </script>
        <tr>
            <td>
                 @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                ₡ @Html.DisplayFor(modelItem => item.Monto)
            </td>
        </tr>
}
    </tbody>
</table>

@*se indican el titulo, las dimensiones y las columnas que tendrá el grafico*@
<script>
    title = 'Ventas por sector';
    width = 600;
    height = 600;
    columns.push(["string", "Descripcion"]);
    columns.push(["number", "Monto"]);
    //chart = new google.visualization.PieChart(document.getElementById('chart_div'))
    google.charts.setOnLoadCallback(pieChart); // circular
    //google.charts.setOnLoadCallback(barChart); // barras
</script>
