@model IEnumerable<CRM.Models.VCasosPorEstado>

@{
    ViewData["Title"] = "Index";
}

<h1>Casos por estado</h1>

<div class="container">
    <form class="form" method="POST">
        <div>
            <label>Fecha inicio</label>
            <input type="date" id="inicio" name="inicio" />
        </div>
        <div>
            <label>Fecha fin</label>
            <input type="date" id="fin" name="fin" />
        </div>
        <button class="btn btn-success" id="form-btn" asp-controller="VCasosPorEstadoes" asp-action="Filtrar">Filtrar</button>
        <button class="btn btn-secondary" id="form-btn" asp-controller="VCasosPorEstadoes" asp-action="Index">Quitar filtro</button>
    </form>
</div>

<div id="chart_div">
</div>

<table class="table th-inner sortable both"
       id="table"
       data-toggle="table"
       data-search="false"
       data-show-columns="false"
       data-show-multi-sort="true"
       data-sort-priority='[{"sortName": "Cantidad","sortOrder":"desc"},{"sortName":"Estado","sortOrder":"desc"}]'>
    <thead>
        <tr>
            <th data-field="Id" data-sortable="true">Cantidad</th>
            <th data-field="Descripcion" data-sortable="true">Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <script>
                elements.push(["@item.Estado", @item.Cantidad]);
            </script>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

@*se indican el titulo, las dimensiones y las columnas que tendrá el grafico*@
<script>
    title = 'Casos por estado';
    width = 600;
    height = 600;
    columns.push(["string", "Estado"]);
    columns.push(["number", "Cantidad"]);
    google.charts.setOnLoadCallback(pieChart); // circular
</script>
