@model IEnumerable<CRM.Models.VFamiliaProductosVendido>

@{
    ViewData["Title"] = "Index";
}

<h1>Familias de productos vendidos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Familia)
            </th><th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Familia)
            </td>
            <td>
                ₡ @Html.DisplayFor(modelItem => item.Monto)
            </td>
        </tr>
}
    </tbody>
</table>
